.slide_bar__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-style: none;
  border-radius: 4px;
  padding-top: 0;
  height: 70px;
  cursor: pointer;
  margin: 10px 0;
  background: none;
  font:
    400 12px/14px "Montserrat",
    sans-serif;
  color: #878787;
}

.slide_bar__tab:hover {
  background-color: #262626;
}

.slide_bar_icon__template {
  display: block;
  background: url("../../../img/template.svg");
  width: 22px;
  height: 22px;
  margin: 0 0 7px 0;
}

.slide_bar_icon__text {
  display: block;
  background: url("../../../img/text.svg");
  width: 22px;
  height: 22px;
  margin: 0 0 7px 0;
}

.slide_bar_icon__photo {
  display: block;
  background: url("../../../img/photo.svg");
  width: 22px;
  height: 22px;
  margin: 0 0 7px 0;
}

.slide_bar_icon__elements {
  display: block;
  background: url("../../../img/elements.svg");
  width: 22px;
  height: 22px;
  margin: 0 0 7px 0;
}

.slide_bar_icon__dowloads {
  display: block;
  background: url("../../../img/dowloads.svg");
  width: 22px;
  height: 22px;
  margin: 0 0 7px 0;
}

.slide_bar_icon__background {
  display: block;
  background: url("../../../img/background.svg");
  width: 22px;
  height: 22px;
  margin: 0 0 7px 0;
}
