.header__logo {
  font:
    400 34px/43px "Crete Round",
    serif;
  color: #ffc322;
  text-decoration: none;
}

@font-face {
  font-family: 'Crete Round';
  src: local('Crete Round'), url("../../../fonts/CreteRound-Regular.ttf") format('truetype');
}