.tool_bar_position {
  width: 107px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.tool_bar_position:hover {
  background-color: #f6f6f6;
}

.tool_bar_position__filter {
  background: url("../../../img/postions.svg");
  display: block;
  margin: 0 5px 0 0;
  width: 24px;
  height: 24px;
}

.tool_bar_position__text {
  font:
    400 16px/18px "Montserrat",
    sans-serif;
  color: #1c2127;
}

.tool_bar_trash:hover {
  background-color: #f6f6f6;
}

.tool_bar_position__trash {
  background: url("../../../img/trash.svg");
  display: block;
  margin: 0 5px 0 0;
  width: 24px;
  height: 24px;
}
