.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 4px;
    cursor: pointer;
}

.wrap:hover {
  background: #262626;
}

.img {
    width: 150px;
    height: 150px;
}